.wrapper {
  margin: 2rem 0;
}
.cardItem {
  min-height: 14rem;
  border-radius: 2rem;
  position: relative;
}
.cardItem img {
  border-radius: 2rem;
  position: absolute;
  left: 0%;
  width: 100%;
  height: 100%;
}
.img-thumbnail {
  border: none;
}

.cardItem p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0%);
  color: azure;
  z-index: 10;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 15px;
}
.cardItem:hover {
  text-shadow: 1px 1px 1px #000;
}
.cardItem p:hover {
  background-color: rgb(207, 207, 207, 0.6);
  padding: 10px;
  transition: all, 2s, ease;
}
